/*CUSTOMIZAÇÃO DO BACKGROUND*/
body { background: url("../img/background-login.jpg") no-repeat center center fixed; background-size: cover; }


/*CUSTOMIZAÇÃO DE CORES*/
.grey.lighten-custom {background-color: #e5e5e5 !important; }
.white-bg{ background-color: #fff; }
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label { color: #0b4b28; }
button:focus { background-color: #016b3a; }
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]) { border-bottom: 1px solid #ababab;
box-shadow: 0 1px 0 0 #ababab; }


/*CUSTOMIZAÇÃO DO FORMULÁRIO*/
input[type=text], input[type=password] { background-color: #ffffff; border: 1px solid #ababab; 
border-radius: 0; outline: none; height: 2.2rem; width: 100%; font-size: 1rem; margin-bottom: 2%; padding: 0 0 0 5px; 
box-shadow: none; box-sizing: content-box; transition: all 0.3s; }
.select-wrapper input.select-dropdown { position: relative; cursor: pointer; background-color: transparent; border: 1px solid #ababab;
border-bottom: 1px solid #9e9e9e; outline: none; height: 2.5rem; line-height: 2.5rem; width: 102%; font-size: 1rem;
padding: 0;display: block; }
.button-custom{ border: 0; font-size: 1.5rem; background-color: #004926; color: #fff; border-radius: 8px; text-align: center;
height: 3rem; width: 100%; box-sizing: border-box; position: relative; display: inline; }
h5 { font-weight: bold; font-size: 25px; color: #004926; }
label { color: #004926; position: relative; font-size: 18px; cursor: text; text-align: initial; }


/*CUSTOMIZAÇÃO DE DESIGN*/
.dropdown-content li > a, .dropdown-content li > span { font-size: 16px; color: #004926; display: relative; 
line-height: 22px; padding: 14px 16px; }
.dropdown-content li:hover, .dropdown-content a:hover, .dropdown-content li.active, .dropdown-content li.selected { 
background: linear-gradient(#cecece, #ffffff); color: #004926; }


/*CUSTOMIZAÇÃO DE POSIÇÃO*/
.margin20 { margin: 20px; }
.margin25 { margin: 25px; }
.positioner { margin-top: 5%; }